
.button {
    @apply font-black py-2 px-4 rounded
}

.button-sm {
    @apply font-black py-1 px-2 rounded text-sm
}

.action-button {
    background-color: var(--active-color);
    color: white;
    box-shadow: 1px 1px 3px rgba(10, 10, 10, 0.7);
}